<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/headTag.ejs") %>
        <style>
            body {
                background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
                margin: 0;
                padding: 0;
            }

            .wholePage {
                display: flex;
                flex-direction: column;
                height: 100vh;
                width: 100%;
            }

            .outer {
                display: flex;
                height: 100vh;
                overflow: hidden;
            }

            .bookSpace {
                display: flex;
                flex-direction: column;
                padding: 2rem;
                width: 100%;
                height: 100%;
                overflow-y: auto;

            }

            .bookSpace2 {
                display: grid;
                grid-template-columns: repeat(3, 1fr);

                gap: 2%;

                padding: 2rem;
                width: 100%;
                height: 100%;
                overflow-y: auto;

                box-sizing: border-box;

            }

            .card {
                display: flex;
                flex-direction: column;
                border: 1px solid #ddd;
                border-radius: 8px;
                background-color: #fff;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                overflow: hidden;
                width: 100%;
                height: 80vh;
                box-sizing: border-box;
            }

            .card-img-top {
                width: 100%;
                height: 50%;
                object-fit: cover;

            }

            .card-body {
                display: flex;
                flex-direction: column;
                padding: 1rem;
                height: 50%;
            }

            .card-title {
                margin-bottom: 0.5rem;
                font-size: 1.25rem;
            }

            .card-text {
                margin-bottom: 1rem;
                font-size: 1rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .btn-container {
                display: flex;
                gap: 1rem;
                margin-top: auto;
            }

            .btn-container .btn {
                flex: 1;
            }

            h1 {
                text-align: center;
                color: #333;
                margin: 2% 0;
                font-weight: bold;
                text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
            }

            .link2 {
                text-decoration: none;
                color: black;
            }
        </style>
        <link rel="stylesheet" href="/public/cssFiles/modalAddBooks.css">
        <link rel="stylesheet" href="/public/cssFiles/nav.css">
        <link rel="stylesheet" href="/public/cssFiles/sideBar.css">
</head>

<body>
    <div class="outer">
        <%- include("./partials/sideBar.ejs") %>
            <div class="wholePage">
                <%- include("./partials/navBar.ejs") %>
                    <%- include("./partials/addBookModel.ejs") %>
                        <h1>Your Books</h1>

                        <div class="bookSpace">
                            <div class="upper">
                            </div>
                            <div class="bookSpace2">
                                <% locals.user.books.forEach(element=> { %>
                                    <div class="card adjust">

                                        <img src="<%= element.imageLink %>" class="card-img-top cardImage"
                                            alt="Book Title">


                                        <div class="card-body">

                                            <h5 class="card-title">
                                                <%= element.title %>
                                            </h5>

                                            <p class="card-text ptag">
                                                <%= element.description %>
                                            </p>

                                            <div class="btn-container">
                                                <a href="/books/viewBook/<%= element._id %>"
                                                    class="btn btn-primary">View Details</a>


                                                <button class="btn btn-danger deleteBtn"
                                                    data-bookId="<%=element._id%>">Delete</button>
                                            </div>
                                        </div>
                                    </div>
                                    <% }) %>

                            </div>
                        </div>
            </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="/public/dist/myBooks.bundle.js" type="module"></script>
</body>

</html>