<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= user.userName %>'s Purchased Books
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/public/cssFiles/myPurchases.css">
</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8">
                <h1 class="mb-4">Purchased Books</h1>
                <% if (user.purchases && user.purchases.length> 0) { %>
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                        <% user.purchases.forEach(book=> { %>
                            <div class="col">
                                <div class="card h-100">
                                    <img src="<%= book.imageLink %>" class="card-img-top" alt="<%= book.title %>">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= book.title %>
                                        </h5>
                                        <p class="card-text"><small class="text-muted">
                                                <%= book.authors.join(', ') %></small></p>
                                        <p class="card-text description"><%= book.description %></p>
                                        <a href="<%= book.previewUrl %>" class="btn btn-primary"> Read The Book</a>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">
                                            <i class="bi bi-heart-fill"></i> <%= book.likes %>
                                            <i class="bi bi-chat-fill ms-2"></i> <%= book.reviews.length %>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                <% } else { %>
                    <p class="no-books">You haven' t purchased any books yet.</p>
                                                    <% } %>
                                    </div>
                                </div>
                            </div>

                            <script
                                src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>